<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Goods</title>
  <link href="../public/css/index.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../public/css/goods.css">
  <script type="text/javascript" src="../public/js/box1.js"></script>
</head>
<body>
  <div id="main">
  <div id="div1" >
     <p>欢迎来到一元云购！</p>
      <ul id="ul1" style="top: -16px;left: 68%;">
          <li><a  class="active" href="#">请登录</a>|</li>
          <li id="li1"><a href="#">我的一元购<img src="../public/jpg/箭头.png" style="top: 20%;"></a>|</li>
          <li><a href="#">余额</a>|</li>
          <li><a href="#">我的红包</a>|</li>
          <li><a href="#">充值</a>|</li>
          <li><a href="#">帮助</a>|</li>
          <li><a href="#">客户服务</a></li>
      </ul>
  </div>
  <div id="div2">
      <img src="../public/jpg/logo.png" style="left:-20%;top: 10px;">
      <img src="../public/jpg/ewm.jpg" style="left: -16%;top: 4px;">
      <img src="../public/jpg/sm.png" style="left: -16%;top: 14px;">
  </div>
  <div id="fgx" style="z-index: 0;">
      <ul >
          <li><a href="/">首页</a></li>
          <li><a href="#">十元专区</a></li>
          <li><a href="#">最新揭晓</a></li>
          <li><a href="#">晒单分享</a></li>
          <li><a href="#">手机客户端</a></li>
      </ul>
  </div>
  <div id="cdl" style="height: 44px;">
      <ul style="top: -10px;position: relative;">
          <li><p style="font-size: 200%;color: #ffffff;text-align: center;">商品分类</p></li>
      </ul>
  </div>
  <div class="content">
    <div class="top">
      <div class="left">
        <div class="topImg">
          <img src="../public/jpg/logo.png" alt="" />
        </div>
        <div class="bottomImg">
          <img src="../public/jpg/logo.png" alt="">
          <img src="../public/jpg/logo.png" alt="">
          <img src="../public/jpg/logo.png" alt="">
          <img src="../public/jpg/logo.png" alt="">
        </div>
      </div>
      <div class="right">

      </div>
    </div>
    <div class="bottom">

    </div>
  </div>
</body>
</html>
