<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../public/css/spectre.min.css">
  <link href="../public/css/index.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../public/css/goods.css">
  <script type="text/javascript" src="../public/js/box1.js"></script>
  <title>商品</title>
</head>

<body>
  <div id="div1">
    <p>欢迎来到一元云购！</p>
    <ul id="ul1" style="top: -16px;left: 70%;">
      <li><a class="active" href="#">请登录</a>|</li>
      <li id="li1"><a href="#">我的一元购<img src="../public/jpg/箭头.png" style="top: 20%;"></a>|</li>
      <li><a href="#">余额</a>|</li>
      <li><a href="#">我的红包</a>|</li>
      <li><a href="#">充值</a>|</li>
      <li><a href="#">帮助</a>|</li>
      <li><a href="#">客户服务</a>
      </li>
    </ul>
  </div>
  <div id="div2">
    <img src="../public/jpg/logo.png" style="left:-20%;top: 10px;">
    <img src="../public/jpg/ewm.jpg" style="left: -16%;top: 4px;">
    <img src="../public/jpg/sm.png" style="left: -16%;top: 14px;">
  </div>
  <div id="fgx" style="z-index: 0;">
    <ul>
      <li><a href="/">首页</a>
      </li>
      <li><a href="#">十元专区</a>
      </li>
      <li><a href="#">最新揭晓</a>
      </li>
      <li><a href="#">晒单分享</a>
      </li>
      <li><a href="#">手机客户端</a>
      </li>
    </ul>
  </div>

  <div class="top">
    <div class="top-left">
      <div class="main-img">
        <img src="../public/jpg/goods1.png" alt="">
      </div>
      <div class="min-img">
        <img src="../public/jpg/goods3.png" alt="">
        <img src="../public/jpg/goods3.png" alt="">
        <img src="../public/jpg/goods3.png" alt="">
        <img src="../public/jpg/goods3.png" alt="">
        <img src="../public/jpg/goods4.png" alt="">
      </div>
    </div>
    <div class="top-right">
      <div class="product-info">
        <p style="font-size: 1.8em;">IPhone7 128G</p>
        <p>现货即发！苹果最新旗舰-IPhone7 128G重磅来临（颜色随机）！ios10系统，A10处理器动力更强劲~</p>
      </div>
      <div class="product-period">
        <div class="period-num">第2426期</div>
        <div class="period-bar">
          <div class="total-person-time">总需人次：7088</div>
          <div class="bar-wrapper">
            <div class="bar" style="width: 10%;"></div>
          </div>
          <div class="other-time">
            <div class="joined-time">
              以参与人次：789
            </div>
            <div class="remain-time">
              剩余参与人次：6299
            </div>
          </div>
        </div>
        <div class="buy-now">
          <div class="cal-time">
            参与
            <a class="plus-time" href="javascript:;">-</a>
            <input class="but-time" type="text" value="1">
            <a class="minus-time" href="javascript:;">+</a>
            人次
          </div>
          <span class="buy-tip"></span>
          <a href="javascript:;" class="buy-button">立即参与</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    
  </div>
</body>

</html>
