<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一元云购</title>
    <link href="../public/css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../public/js/box1.js"></script>
</head>
<body>
<div id="main">
<div id="div1" >
   <p>欢迎来到一元云购！</p>
    <ul id="ul1" style="top: -16px;left: 68%;">
        <li><a  class="active" href="#">请登录</a>|</li>
        <li id="li1"><a href="#">我的一元购<img src="../public/jpg/箭头.png" style="top: 20%;"></a>|</li>
        <li><a href="#">余额</a>|</li>
        <li><a href="#">我的红包</a>|</li>
        <li><a href="#">充值</a>|</li>
        <li><a href="#">帮助</a>|</li>
        <li><a href="#">客户服务</a></li>
    </ul>
</div>
<div id="div2">
    <img src="../public/jpg/logo.png" style="left:-20%;top: 10px;">
    <img src="../public/jpg/ewm.jpg" style="left: -16%;top: 4px;">
    <img src="../public/jpg/sm.png" style="left: -16%;top: 14px;">
</div>
<div id="fgx" style="z-index: 0;">
    <ul >
        <li><a href="/">首页</a></li>
        <li><a href="#">十元专区</a></li>
        <li><a href="#">最新揭晓</a></li>
        <li><a href="#">晒单分享</a></li>
        <li><a href="#">手机客户端</a></li>
    </ul>
    <a href="#"><img src="../public/jpg/公平公正.png" style="top: 365px;left: -44%;width:19%;"></a>
    <a href="#"><img src="../public/jpg/玩法.png" style="left: 5%;top: 4px;width: 18%;z-index: 2;"></a>
    <a href="#"><img src="../public/jpg/d1.png" style="top: -181px;left: 25%;width:26%; "></a>
    <a href="#"><img src="../public/jpg/d2.png" style="top: -188px;left: 24%;width:26%;z-index: 0;"></a>
</div>
<div id="cdl">
    <ul style="top: -10px;position: relative;">
        <li><p style="font-size: 200%;color: #ffffff;text-align: center;">商品分类</p></li>
    </ul>
    <ul id="cdlul">
        <li><a href="#">全部商品</a> </li>
        <li><a href="#">苹果专区</a> </li>
        <li><a href="#">充值卡</a> </li>
        <li><a href="#">黄金首饰</a> </li>
        <li><a href="#">国际潮牌</a> </li>
        <li><a href="#">手机平板</a> </li>
        <li><a href="#">电脑数码</a> </li>
        <li><a href="#">家用电器</a> </li>
        <li><a href="#">运动户外</a> </li>
    </ul>
</div>

<div class="box1" id="play">
    <p class="prev">&laquo;</p>
    <p class="next">&raquo;</p>
    <ol>
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ol>
    <ul>
        <li><a href="#"><img src="../public/jpg/g1.png" alt="一" /></a></li>
        <li><a href="#"><img src="../public/jpg/g2.png" alt="二" /></a></li>
        <li><a href="#"><img src="../public/jpg/g3.png" alt="三" /></a></li>
        <li><a href="#"><img src="../public/jpg/g4.png" alt="四" /></a></li>
        <li><a href="#"><img src="../public/jpg/g5.png" alt="五" /></a></li>
    </ul>
</div>
<div id="box">
    <ul id="ul2" style="display: none;">
        <li><a href="#">参与记录</a> </li>
        <li><a href="#">个人记录</a> </li>
        <li><a href="#">中奖记录</a> </li>
    </ul>
</div>
<!--苹果专场-->
<div id="pgzc">
    <p>苹果专场</p>
    <a href="goods"><img src="../public/jpg/pgzc1.png" style="left: 6%;top: 8px;width: 16%;"></a>
    <ul>
        <li style="left: 8%;top: 49px;width: 20%;"> <a href="#"><img src="../public/jpg/pgzc2.png"></a></li>
        <li style="left: 8%;top: 49px;width: 20%;"> <a href="#"><img src="../public/jpg/pgzc3.png"></a></li>
        <li style="left: 8%;top: 49px;width: 20%;"> <a href="#"><img src="../public/jpg/pgzc4.png"></a></li>
        <li style="left: 8%;top: 49px;width: 20%;"> <a href="#"><img src="../public/jpg/pgzc5.png"></a></li>
    </ul>
</div>
</div>
</body>
</html>
