<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URAndL</title>
    <link rel="stylesheet" type="text/css" href="../public/css/URAndL.css">
    <link rel="stylesheet" type="text/css" href="../public/css/spectre.min.css">

</head>
<body>
<div class="main-div">
    <div id="login">
    <form action="/login" method="post">
        <div class="u-windows">
            <div>
                一元云购登陆
            </div>
            <div class="u-input">
              <div class="u-logo"><i class="iconfont">&#xe611;</i></div>
              <div><input placeholder="登陆邮箱" style="border: 0px"/></div>
            </div>

            <div class="u-input">
                <div class="u-logo"><i class="iconfont">&#xe629;</i> </div>
                <div><input placeholder="登陆密码" style="border: 0px"/></div>
            </div>
            <div style="width: 320px;height: 44px;margin-top: 16px;">
                <button class="btn btn-primary" style="width: 100%">登 陆</button>
            </div>
            <div class="define-div">
                <div style="float: left;"><p>重置</p></div>
                <div style="float: right;"><a href="#" onclick="goReg()"><p>去注册>></p></a></div>
            </div>
            <div class="define-div">
                <div style="float: left;color: darkgrey">其它方式登录
                    <i class="iconfont">&#xe63f;</i>
                    <i class="iconfont">&#xe63e;</i>
                    <i class="iconfont">&#xe609;</i>
                    <i class="iconfont">&#xe64b;</i></div>
            </div>
        </div>
    </form>
    </div>
    <div id="register" style="display: none">
        <form>
        <div class="u-windows">
            <div>
                一元云购注册
            </div>
            <div class="u-input">
                <div class="u-logo"><i class="iconfont">&#xe611;</i></div>
                <div><input placeholder="注册邮箱" style="border: 0px"/></div>
            </div>

            <div class="u-input">
                <div class="u-logo"><i class="iconfont">&#xe629;</i> </div>
                <div><input placeholder="6-12位密码， 区分大小写" style="border: 0px"/></div>
            </div>
            <div style="width: 320px;height: 44px;margin-top: 16px;">
                <button class="btn btn-primary" style="width: 100%">注 册</button>
            </div>
            <div class="define-div">
                <div style="float: left;"><p>重置</p></div>
                <div style="float: right;"><a href="#" onclick="goLogin()"><p>去登陆>></p></a></div>
            </div>
        </div>
    </form></div>
</div>
<script>
    function goReg() {
        var id1 = document.getElementById("login");
        var id2 = document.getElementById("register");
        id1.style.display="none";
        id2.style.display="block";
    }
    function goLogin(){
        var id1 = document.getElementById("login");
        var id2 = document.getElementById("register");
        id1.style.display="block";
        id2.style.display="none";
    }
</script>
</body>
</html>
