<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>十元专区</title>
    <link href="public/css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="public/js/box1.js"></script>
    <script type="text/javascript" src="public/js/spxq.js"></script>
</head>
<body>
<div id="main" >
    <div id="div1">
        <p>欢迎来到一元云购！</p>
        <ul id="ul1" style="top: -16px;left: 70%;">
          <li>
            <a class="active" href="#" onclick="show()">
              <%=user_name %>
            </a>|</li>
            <li id="li1"><a href="#">我的一元购<img src="public/jpg/箭头.png" style="top: 20%;"></a>|
              <ul>
                <li><a href="/Participate">参与记录</a>
                </li>
                <li><a href="/reward">中奖记录</a>
                </li>
                <li><a href="/personinfo">个人信息</a>
                </li>
              </ul>
            </li>
            <li><a href="#">余额</a>|</li>
            <li><a href="#">我的红包</a>|</li>
            <li><a href="#">充值</a>|</li>
            <li><a href="#">帮助</a>|</li>
            <li><a href="#">客户服务</a></li>
        </ul>
    </div>
    <div id="div2">
        <img src="public/jpg/logo.png" style="left:-20%;top: 10px;">
        <img src="public/jpg/ewm.jpg" style="left: -16%;top: 4px;">
        <img src="public/jpg/sm.png" style="left: -16%;top: 14px;">
    </div>
    <div id="fgx" style="z-index: 0;">
        <ul >
            <li><a href="/">首页</a></li>
            <li><a href="sp">十元专区</a></li>
            <li><a class="active">最新揭晓</a></li>
            <li><a href="sdfx">晒单分享</a></li>
            <li><a href="kfd">手机客户端</a></li>
        </ul>
    </div>
    <div style="z-index: 0;">
        <img src="public/jpg/kf.png" style="left: 2%;top: 30px;">
    </div>
    <nav id="cdl_sp" style="top: -510px;z-index: 5;">
        <ul style="top: 5px;position: relative;">
            <li><p style="font-size: 160%;color: #ffffff;text-align: center;">商品分类</p></li>
        </ul>
        <ul id="cdlul" style="display: none;">
            <li><a href="#">全部商品</a> </li>
            <li><a href="#">苹果专区</a> </li>
            <li><a href="#">充值卡</a> </li>
            <li><a href="#">黄金首饰</a> </li>
            <li><a href="#">国际潮牌</a> </li>
            <li><a href="#">手机平板</a> </li>
            <li><a href="#">电脑数码</a> </li>
            <li><a href="#">家用电器</a> </li>
            <li><a href="#">运动户外</a> </li>
        </ul>
    </nav>
</div>
</body>
<script>

</script>
</html>
