.cart-maindiv{
margin-left: auto;
margin-right: auto;
width:80%;
margin-top: 4%;

}

.cart-maindiv ul{
  height: 120px;
  border: 1px solid #ddd
}

.cart-maindiv ul li{
  list-style: none;
  padding:none;
  float: left;
  overflow: hidden;

}


.cart-li-pic{
  width: 45%;

}

.cart-li{
  width: 18%;
  margin-top: 4%;
}
.cart-title{
  font-size: 12px;
  line-height: 25px;
  background-color: #f2f2f2

}
.cart-maindiv ul li p{
  line-height: 0px;
}
.cart-maindiv ul li input{
  border-left: 0px;
  border-right: 0px;
  width: 80px;
  height: 30px;
  font-size: 14px;
}

.cart-paybtn{
  float: right;
  margin-right: 10%;

}
.cart-paybtn button{

}
